.banner-container {
  position: relative;
  text-align: center;
  color: white;
  /* opacity: 0.9; */
}

.banner-image {
  background: black;
  height: calc(100vh - 56px);
  object-fit: cover;
}

.card {
  border-radius: 1em;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.destination-description {
  font-size: 1.5em;
}

.destination-name {
  background: rgba(0, 0, 0, 0.35);
  font-size: 5em;
}

@media (min-width: 576px) {
  .destination-name {
    font-size: 4em !important;
  }
}
