.banner-container {
  position: relative;
  text-align: center;
  color: white;
  /* opacity: 0.9; */
}

.banner-image {
  background: black;
  height: calc(100vh - 56px);
  object-fit: cover;
}

.card {
  border-radius: 1em;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.destination-description-wrapper {
  border: none;
  margin-top: 1.5em;
  padding: 1.5em;
}

.destination-description {
  font-size: 1em;
}

.destination-name {
  background: rgba(0, 0, 0, 0.35);
  font-size: 2.5em;
}

@media (min-width: 576px) {
  .destination-name {
    font-size: 4em !important;
  }
  .destination-description {
    font-size: 1.5em;
  }
  .destination-description-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 5em;
    margin-top: 5em;
    padding: 3em;
  }
}
